[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jachum
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jachum
	label-Verified = -1..+1 group user/Jachum
	push = group user/Jachum
	read = group user/Jachum
	rebase = group user/Jachum
	removeReviewer = group user/Jachum
	submit = group user/Jachum
[access "refs/heads/*"]
	create = group user/Jachum
	push = +force group user/Jachum
	pushMerge = group user/Jachum
	read = group user/Jachum
[access "refs/tags/*"]
	push = group user/Jachum
	push = +force group user/Jachum
